<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>支付密码设置</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../css/libs/sm.css">
    <link rel="stylesheet" href="../../css/theme/theme.css">
    <link rel="stylesheet" href="../../css/appPublicStyle.css">
    <link href="css/payPasswordSetting.css" rel="stylesheet"/>
</head>
<body>
<div class="page-group">
    <!-- 单个page ,默认被展示-->
    <div id="page-payPasswordSetting_tpl" class="page page-current">
        <!-- 标题栏 -->
        <header class="bar bar-nav" data-type="header">
            <a class="button button-link pull-left back" href="#" id="pull_goback" data-type="button">
                <span class="icon icon-left icon-font" data-type="icon"></span>
            </a>
            <h1 class="title" data-type="h1">支付密码设置</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content" data-type="content">
			<form id="form_sure" data-type="form">
                <div class="list-block div-custom-listBlock" data-type="div"
                     id="div_7">
                    <ul data-type="list" id="modifyinfos">
			               <li>
			                   <a href="#">
			                                                                               支付密码
			                   </a>
			                    <div class="div-custom-input" data-type="div" id="nomal_password" v-on:click="mima1">
	                                <input type="password" name="" placeholder="请输入6位数字"
                                    class="input input-right" v-model="first_pass"  data-validate="number"  readOnly="true"/>
			                     </div>             
			                      
			              </li>
			               <li>
			                   <a href="#">
			                                                                               确认密码
			                   </a>
			                    <div class="div-custom-input" data-type="div" id="div-custom-special_form" style="padding-left: .8rem;" v-on:click="mima2">
	                                <input type="password" name="" placeholder="两次输入请保持一致"
	                                       class="input input-right"  v-model="last_pass" data-validate="number"  readOnly="true"/>
			                     </div>             
			                      
			              </li>
			             
                    </ul>
                   <div data-type="div" class="div-custom-cashbox">
                           <input id="pay_password_setting" type="button" name="submit" value="确认"
                               class="button button-big span-custom-finishbtn " data-type="button" style="border:none;" v-on:click="submit">
                   </div>  
                 
                    
                </div>
            </form>
	    </div>
    </div>
</div>
</body>
<!--sui框架js-->
<script src="../../js/libs/zepto.js"></script>
<!--打包时-->
<script src="../../js/libs/sm.js"></script>
<!--agreeSDK插件定义js-->
<script src="../../js/public/agreeSDK.js"></script>
<script src="../../js/public/common.js"></script>
<!--公有方法-->
<script src="../../js/public/appPublicAction.js"></script>
<script src="js/payPasswordSettingEventBinds.js"></script>
</html>
