<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>修改密码</title>
	<link rel="stylesheet" href="../../css/libs/sm.css">
	<link rel="stylesheet" href="../../css/theme/theme.css">
	<link rel="stylesheet" href="../../css/appPublicStyle.css">
	<link rel="stylesheet" href="css/passwordSetting.css">
</head>
<body>
<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
<div class="page-group">
	<!-- 单个page ,默认被展示-->
	<div class="page page-current" id="page-passwordSetting_tpl">
		 <header class="bar bar-nav" data-type="header" id="header_1">
             <a class="button button-link pull-left header-white back" href="#" data-type="a">
                <span class="icon icon-left" data-type="icon"></span> 
            </a>
            <h1 class="title header-white" data-type="h1">修改密码</h1>
           
        </header>
		<div class="content" data-type="content">
			<form id="form_forget" data-type="form">
                <div class="list-block div-custom-listBlock" data-type="div"
                     id="div_7">
                    <ul data-type="list" id="modifyinfo">
                         
			               <li>
			                   <a href="#">
			                                                                               旧密码
			                   </a>
			                    <div class="div-custom-input " data-type="div" id="nomal">
	                                <input type="password" name="" placeholder="请输入"
	                                       class="input input-right registePassword" id="input_cord" data-validate="number" v-model="old_lgoin_pwd_"/>
			                     </div>             
			                      
			              </li>
			              <li>
			                   <a href="#">
			                                                                               新密码
			                   </a>
			                    <div class="div-custom-input " data-type="div" id="nomal">
	                                <input type="password" name="" placeholder="请输入"
	                                       class="input input-right registePassword" id="input_cord" data-validate="number" v-model="password_"/>
			                     </div>             
			                      
			              </li>
			               <li>
			                   <a href="#">
			                                                                               确认密码
			                   </a>
			                    <div class="div-custom-input " data-type="div" id="div-custom-special_form">
	                                <input type="password" name="" placeholder="输入请保持一致"
	                                       class="input input-right surePassword" id="input_cord" data-validate="number" v-model="sure_password"/>
			                     </div>             
			                      
			              </li>
			             
                    </ul>
                   <div data-type="div" class="div-custom-open_cash" id="save" v-on:click="submit">
		                <input type="button" data-type="button" class="span-custom-open_surebtn" value="立即修改" style="border: none;" >
		          </div>
                    
                </div>
            </form>
	    </div>
	  
	
</div>
</body>
	<!--sui框架js-->
<script src="../../js/libs/zepto.js"></script>
<script src="../../js/libs/sm.js"></script>
<script src="../../js/libs/template.js"></script>
<!--agreeSDK插件定义js-->

<script src="../../js/public/common.js"></script>
<script src="../../js/public/agreeSDK.js"></script>
<script src="../../js/public/appPublicAction.js"></script>
<script src="js/passwordSettingEventBinds.js"></script>
</html>
