<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>支付密码设置</title>
	<link rel="stylesheet" href="../../css/libs/sm.css">
	<link rel="stylesheet" href="../../css/theme/theme.css">
	<link rel="stylesheet" href="../../css/appPublicStyle.css">
	<link rel="stylesheet" href="css/payPassword.css">
</head>
<body>
<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
<div class="page-group">
	<!-- 单个page ,默认被展示-->
	<div class="page page-current" id="page-payPassword_tpl">
			<header class="bar bar-nav" data-type="header" id="header_1">
		            <a class="button button-link pull-left back" href="#" data-type="a" @click="back">
					 			<span class="icon icon-left" data-type="icon"></span>
			        </a>
            <h1 class="title header-white" data-type="h1">支付密码设置</h1>
            <!--  <a class="button button-link pull-right header-white finish_" href="#" data-type="a" id="a-custom-left">
               完成 
            </a> -->
        </header>
		<div class="content" data-type="content">
			<form id="form_1" data-type="form">
                <div class="list-block div-custom-listBlock" data-type="div"
                     id="div_7">
                    <ul data-type="list" id="modifyinfo">
                        <!--   <li>
			                   <a href="#" id="a_modify_password">
			                                                                               手机号
			                   </a>
			                    <div class="div-custom-input" data-type="div" id="nomal">
	                                13460107712
			                     </div>             
			                      
			              </li>
			               <li>
			                 <div data-type="div" id="div-custom-special"
                         class="div content-block div-custom-content_shortMsg">
			                        <div data-type="div" id="div_28"
			                             class="div-custom-shortMsgTips">
			                            
			                        </div>
			                        <div class="row row-custom-2" data-type="row" id="">
			                            <div class="col col-20 col-custom-shortMsg verify" data-type="col"
			                                 id="row-custom-special ">
			                                验证码
			                            </div>
			                            <div class="col col-40" data-type="col" id="col_5">
			                                <input type="text" placeholder="输入验证码" data-type="input"
			                                       id="input_verifyCode" class="input input-right input-custom-shotMsg"/>
			                            </div>
			                            <div class="col col-40 col-custom-right" data-type="col" id="col_1">
			                                <span data-type="span" id="span-custom-shopinforSpecial">|</span>
			                                    
			                                <a href="#" data-type="a" id="a_getCode" class="a-custom-veritrycode obtain" style="">
			                                获取验证码</a>
			                            </div>
			                        </div>
                              </div>          
			                      
			              </li> -->
			               <li>
			                   <a href="#">
			                                                                               旧支付密码
			                   </a>
			                    <div class="div-custom-input" data-type="div" id="nomal_password" v-on:click="mima1">
	                                <input type="password" name="" placeholder="请输入"
	                                       class="input input-right" id="input_cord" readOnly="true" v-model="old_pay_password_" />
			                     </div>             
			                      
			              </li>
			               <li>
			                   <a href="#">
			                                                                               新支付密码
			                   </a>
			                    <div class="div-custom-input" data-type="div" id="div-custom-special_form" style="padding-left:.9rem;" v-on:click="mima2">
	                                <input type="password" name="" placeholder="请输入"
	                                       class="input input-right" id="input_cord"  v-model="pay_password_" readOnly="true"/>
			                     </div>             
			                      
			              </li>
			              <li>
			                   <a href="#">
			                                                                               确认密码
			                   </a>
			                    <div class="div-custom-input" data-type="div" id="div-custom-special_form" style="padding-left: 1.6rem;" v-on:click="mima3">
	                                <input type="password" name="" placeholder="请输入保持一致"
	                                       class="input input-right" id="input_cord"  readOnly="true" v-model="sure_password_"/>
			                     </div>             
			                      
			              </li>
			             
                    </ul>
                    <div data-type="div" class="div-custom-open_cash" id="save" v-on:click="submit">
			                <input type="button" data-type="button" class="span-custom-open_surebtn" value="确定"  style="border: none;">
			        </div>
                 
                    
                </div>
            </form>
	    </div>
	  
	
</div>
</body>
<!--sui框架js-->
<script src="../../js/libs/zepto.js"></script>
<script src="../../js/libs/sm.js"></script>
<script src="../../js/libs/template.js"></script>
<!--agreeSDK插件定义js-->
<script src="../../js/public/agreeSDK.js"></script>
<script src="../../js/public/appPublicAction.js"></script>
<script src="../../js/public/common.js"></script>
<script src="js/payPasswordEventBinds.js"></script>
</html>
