<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>demo</string>
	<key>suggested_board_name</key>
	<string>1111</string>
	<key>app_name</key>
	<string>text</string>
	<key>source_url</key>
	<string>http://www.baidu.com</string>
	<key>shareMenu</key>
	<dict>
		<key>WechatSession</key>
		<dict>
			<key>redirectURL</key>
			<string>http://mobile.umeng.com/social</string>
			<key>appSecret</key>
			<string>3baf1193c85774b3fd9d18447d76cab0</string>
			<key>appKey</key>
			<string>wxdc1e388c3822c80b</string>
		</dict>
		<key>QQ</key>
		<dict>
			<key>redirectURL</key>
			<string>http://mobile.umeng.com/social</string>
			<key>appSecret</key>
			<string></string>
			<key>appKey</key>
			<string>1105821097</string>
		</dict>
		<key>Sina</key>
		<dict>
			<key>redirectURL</key>
			<string>https://sns.whalecloud.com/sina2/callback</string>
			<key>appSecret</key>
			<string>04b48b094faeb16683c32669824ebdad</string>
			<key>appKey</key>
			<string>3921700954</string>
		</dict>
		<key>DingDing</key>
		<dict>
			<key>redirectURL</key>
			<string></string>
			<key>appSecret</key>
			<string></string>
			<key>appKey</key>
			<string>dingoalmlnohc0wggfedpk</string>
		</dict>
		<key>AlipaySession</key>
		<dict>
			<key>redirectURL</key>
			<string>http://mobile.umeng.com/social</string>
			<key>appSecret</key>
			<string></string>
			<key>appKey</key>
			<string>2015111700822536</string>
		</dict>
		<key>YixinSession</key>
		<dict>
			<key>redirectURL</key>
			<string>http://mobile.umeng.com/social</string>
			<key>appSecret</key>
			<string></string>
			<key>appKey</key>
			<string>yx35664bdff4db42c2b7be1e29390c1a06</string>
		</dict>
		<key>LaiWangSession</key>
		<dict>
			<key>redirectURL</key>
			<string>http://mobile.umeng.com/social</string>
			<key>appSecret</key>
			<string>9996ed5039e641658de7b83345fee6c9</string>
			<key>appKey</key>
			<string>8112117817424282305</string>
		</dict>
		<key>Linkedin</key>
		<dict>
			<key>redirectURL</key>
			<string>https://api.linkedin.com/v1/people</string>
			<key>appSecret</key>
			<string>7dgUXPLH8kA8WHMV</string>
			<key>appKey</key>
			<string>81t5eiem37d2sc</string>
		</dict>
		<key>Twitter</key>
		<dict>
			<key>redirectURL</key>
			<string></string>
			<key>appSecret</key>
			<string>YcbSvseLIwZ4hZg9YmgJPP5uWzd4zr6BpBKGZhf07zzh3oj62K</string>
			<key>appKey</key>
			<string>fB5tvRpna1CKK97xZUslbxiet</string>
		</dict>
		<key>Facebook</key>
		<dict>
			<key>redirectURL</key>
			<string>http://www.umeng.com/social</string>
			<key>appSecret</key>
			<string></string>
			<key>appKey</key>
			<string>506027402887373</string>
		</dict>
		<key>Pinterest</key>
		<dict>
			<key>redirectURL</key>
			<string></string>
			<key>appSecret</key>
			<string></string>
			<key>appKey</key>
			<string>4864546872699668063</string>
		</dict>
		<key>DropBox</key>
		<dict>
			<key>redirectURL</key>
			<string>https://mobile.umeng.com/social</string>
			<key>appSecret</key>
			<string>td28zkbyb9p49xu</string>
			<key>appKey</key>
			<string>k4pn9gdwygpy4av</string>
		</dict>
		<key>VKontakte</key>
		<dict>
			<key>redirectURL</key>
			<string></string>
			<key>appSecret</key>
			<string></string>
			<key>appKey</key>
			<string>5786123</string>
		</dict>
	</dict>
	<key>appKey</key>
	<string>5861e5daf5ade41326001eab</string>
</dict>
</plist>
