<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txt</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>rtf</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>rtfd</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>html</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>css</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>js</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>c</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>h</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>cpp</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>hpp</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>m</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>mm</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>java</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>xml</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>json</key>
	<string>HGBFileManageToolBundle.bundle/text.png</string>
	<key>doc</key>
	<string>HGBFileManageToolBundle.bundle/word.png</string>
	<key>docx</key>
	<string>HGBFileManageToolBundle.bundle/word.png</string>
	<key>xlsx</key>
	<string>HGBFileManageToolBundle.bundle/excel.png</string>
	<key>xls</key>
	<string>HGBFileManageToolBundle.bundle/excel.png</string>
	<key>pdf</key>
	<string>HGBFileManageToolBundle.bundle/pdf.png</string>
	<key>ppt</key>
	<string>HGBFileManageToolBundle.bundle/ppt.png</string>
	<key>pptx</key>
	<string>HGBFileManageToolBundle.bundle/ppt.png</string>
	<key>jpg</key>
	<string>HGBFileManageToolBundle.bundle/image.png</string>
	<key>jpeg</key>
	<string>HGBFileManageToolBundle.bundle/image.png</string>
	<key>png</key>
	<string>HGBFileManageToolBundle.bundle/image.png</string>
	<key>gif</key>
	<string>HGBFileManageToolBundle.bundle/image.png</string>
	<key>ptg</key>
	<string>HGBFileManageToolBundle.bundle/image.png</string>
	<key>mp3</key>
	<string>HGBFileManageToolBundle.bundle/audio.png</string>
	<key>wav</key>
	<string>HGBFileManageToolBundle.bundle/audio.png</string>
	<key>cd</key>
	<string>HGBFileManageToolBundle.bundle/audio.png</string>
	<key>wm</key>
	<string>HGBFileManageToolBundle.bundle/audio.png</string>
	<key>vqf</key>
	<string>HGBFileManageToolBundle.bundle/audio.png</string>
	<key>avi</key>
	<string>HGBFileManageToolBundle.bundle/vedio.png</string>
	<key>mp4</key>
	<string>HGBFileManageToolBundle.bundle/vedio.png</string>
	<key>wma</key>
	<string>HGBFileManageToolBundle.bundle/vedio.png</string>
	<key>rmvb</key>
	<string>HGBFileManageToolBundle.bundle/vedio.png</string>
	<key>rm</key>
	<string>HGBFileManageToolBundle.bundle/vedio.png</string>
	<key>flash</key>
	<string>HGBFileManageToolBundle.bundle/vedio.png</string>
	<key>mid</key>
	<string>HGBFileManageToolBundle.bundle/vedio.png</string>
	<key>3gp</key>
	<string>HGBFileManageToolBundle.bundle/vedio.png</string>
	<key>zip</key>
	<string>HGBFileManageToolBundle.bundle/compress.png</string>
	<key>rar</key>
	<string>HGBFileManageToolBundle.bundle/compress.png</string>
	<key>7z</key>
	<string>HGBFileManageToolBundle.bundle/compress.png</string>
	<key>bundle</key>
	<string>HGBFileManageToolBundle.bundle/bundle.png</string>
	<key>undefine</key>
	<string>HGBFileManageToolBundle.bundle/undefine.png</string>
	<key>dir</key>
	<string>HGBFileManageToolBundle.bundle/directory.png</string>
</dict>
</plist>
