
#page-modifyPassword #modifyinfo li .item-inner{
	padding-right: 2rem;
}
#page-modifyPassword #modifyinfo  li #span-custom-shopinforSpecial{
	font-size: 15px;
    color: #436BF2;
    right: 4.9rem;
    line-height:2.3rem;
    position: absolute;
}
#page-modifyPassword #modifyinfo #input_verifyCode{
	margin-top: -1px;
    padding-left: .3rem;
    display: inline-block;
}
#page-modifyPassword #modifyinfo li{
	height: 48px;
	line-height: 48px;
}
#page-modifyPassword  .obtain{
    font-size: 15px !important;
    color: #436BF2 !important;
    right: .6rem;
    position: absolute;
}
#page-modifyPassword #modifyinfo #div-custom-special{	
    margin: 0px;
    position: relative;
}
#page-modifyPassword  #a_modifyPassword{
	font-size: 16px;
	color: #999;
}
#page-modifyPassword #modifyinfo:after, #modifyinfo:before{
	background-color: #f0f0f0;
}
#page-modifyPassword #input_mobilenumberr{
	padding-left: 1rem;
}
#page-modifyPassword #modifyinfo li a{
	display: inline-block;
    color: #444;
    font-size: 16px;
}
#page-modifyPassword #modifyinfo li #nomal{
	display: inline-block;
    color: #999;
    padding-left: 1.1rem;
    font-size: 14px;
}
#page-modifyPassword #div-custom-special_form{
	display: inline-block;
    color: #999;
    padding-left: .4rem;
    font-size: 14px;
}
#page-modifyPassword .verify{
	margin-left: 0;
    color: #444;
    font-size: 16px;
}
#page-modifyPassword .list-block.div-custom-listBlock{
	margin: 0;
}
