#page-payPassword_tpl #modifyinfo li .item-inner{
	padding-right: 2rem;
}
#page-payPassword_tpl #modifyinfo  li #span-custom-shopinforSpecial{
	font-size: 15px;
    color: #436BF2;
    right: 4.9rem;
    line-height:2.3rem;
    position: absolute;
}
#page-payPassword_tpl #modifyinfo #input_verifyCode{
	margin-top: -1px;
    padding-left: .9rem;
    display: inline-block;
}
#page-payPassword_tpl #modifyinfo li{
	height: 48px;
	line-height: 48px;
}
#page-payPassword_tpl #modifyinfo #div-custom-special{	
    margin: 0px;
    position: relative;
}
#page-payPassword_tpl .obtain {
   font-size: 15px !important;
   color: #436BF2 !important;
   padding-left: 2.8rem;
   right: .6rem;
   position: absolute;
}
#page-payPassword_tpl  #a_modify_password{
	font-size: 16px;
	color: #999;
}
#page-payPassword_tpl #modifyinfo:after, #modifyinfo:before{
	background-color: #f0f0f0;
}
#page-payPassword_tpl #input_mobilenumber{
	padding-left: 1rem;
}
#page-payPassword_tpl #modifyinfo li a{
	display: inline-block;
    color: #444;
    font-size: 16px;
}
#page-payPassword_tpl #modifyinfo li #nomal{
	display: inline-block;
    color: #999;
    padding-left: 1.8rem;
    font-size: 14px;
}
#page-payPassword_tpl #modifyinfo li #nomal_password{
	display: inline-block;
    color: #999;
    padding-left: .8rem;
    font-size: 14px;
}
#page-payPassword_tpl #div-custom-special_form{
	display: inline-block;
    color: #999;
    padding-left: .4rem;
    font-size: 14px;
}
#page-payPassword_tpl .verify{
	margin-left: 0;
    color: #444;
    font-size: 16px;
}
#page-payPassword_tpl .list-block.div-custom-listBlock{
	margin: 0;
}
