
#page-setting_tpl #ul .special{
	/*border-bottom: none;*/
    border-bottom: 1px solid #f0f0f0;
    margin-left: 0;
    padding-left: .8rem;
}
#page-setting_tpl #page-transfer .list-block{
    margin-top:0.775rem;
    margin-bottom: 0;
}
#page-setting_tpl .transfer-state .transfer-gray{
    color: #999999;
}
#page-setting_tpl .button.logout{
	border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    border-left: none;
    width: 100%;
    border-radius: 0px !important;
    background: #fff !important;
    border-right: 0px;
    color:#444;
    font-size: 16px;
    margin-top: 20px;
}
#page-setting_tpl .list-block #ul_types .item-thumb-content:after, .list-block .item-content:after{
    background-color: transparent;
}
#page-setting_tpl .list-block #ul:after{
     background-color: transparent;
}


