
#page-forgetPassword_tpl #modifyinfo li .item-inner{
	padding-right: 2rem;
}
#page-forgetPassword_tpl #modifyinfo  li #span-custom-shopinforSpecial{
	font-size: 15px;
    color: #436BF2;
    right: 4.9rem;
    line-height: 2.3rem;
    position: absolute;
}
#page-forgetPassword_tpl #modifyinfo #input_verifyCode{
	    display: inline-block;
        padding-left: 0.8rem;
}
#page-forgetPassword_tpl #modifyinfo li{
	height: 48px;
	line-height: 48px;
}
#page-forgetPassword_tpl #modifyinfo #div-custom-special{	
    margin: 0px;
    position: relative;
}
#page-forgetPassword_tpl  #a_modify_password{
	font-size: 16px;
	color: #999;
}
#page-forgetPassword_tpl #modifyinfo:after, #modifyinfo:before{
	background-color: #f0f0f0;
}
#page-forgetPassword_tpl #input_mobilenumber{
	padding-left: 1rem;
}
#page-forgetPassword_tpl #modifyinfo li a{
	display: inline-block;
    color: #444;
    font-size: 16px;
}
#page-forgetPassword_tpl #modifyinfo li #nomal{
	display: inline-block;
    color: #999;
    padding-left: .8rem;
    font-size: 14px;
}
#page-forgetPassword_tpl #modifyinfo li #nomals{
	display: inline-block;
    color: #999;
    padding-left: 1.7rem;
    font-size: 14px;
}
#page-forgetPassword_tpl .obtain{
    font-size: 15px !important;
    color: #436BF2 !important;
    padding-left: 2.8rem;
    right: .6rem;
    position: absolute;
}
#page-forgetPassword_tpl #div-custom-special_form{
	display: inline-block;
    color: #999;
    padding-left: .9rem;
    font-size: 14px;
}
#page-forgetPassword_tpl .verify,
#page-pay_password_tpl .verify{
	margin-left: 0;
    color: #444;
    font-size: 16px;
}
#page-forgetPassword_tpl .list-block.div-custom-listBlock{
	margin: 0;
}
