
#page-payPasswordSetting_tpl #modifyinfos li .item-inner{
    padding-right: 2rem;
}
#page-payPasswordSetting_tpl #modifyinfos  li #span-custom-shopinforSpecial{
    font-size: 15px;
    color: #436BF2;
    right: 4.5rem;
    line-height:2.1rem;
    position: absolute;
}
#page-modify_password #modifyinfos #input_verifyCode{
    margin-top: -1px;
    padding-left: 0rem;
}
#page-payPasswordSetting_tpl #modifyinfos #input_verifyCode{
    margin-top: -1px;
    padding-left: .7rem;

}
#page-payPasswordSetting_tpl #modifyinfos li{
    height: 48px;
    line-height: 48px;
}
#page-payPasswordSetting_tpl #modifyinfos #div-custom-special{ 
    margin: 0px;
    position: relative;
}
#page-payPasswordSetting_tpl  #a_modify_password{
    font-size: 16px;
    color: #999;
}
#page-payPasswordSetting_tpl #modifyinfos:after, #modifyinfos:before{
    background-color: #f0f0f0;
}
#page-payPasswordSetting_tpl #input_mobilenumber{
    padding-left: 1rem;
}
#page-payPasswordSetting_tpl #modifyinfos li a{
    display: inline-block;
    color: #444;
    font-size: 16px;
}
#page-modify_password #modifyinfos li #nomal{
    display: inline-block;
    color: #999;
    padding-left: 1rem;
    font-size: 14px;
}
#page-payPasswordSetting_tpl #modifyinfos li #nomal{
    display: inline-block;
    color: #999;
    padding-left: 1.8rem;
    font-size: 14px;
}
#page-payPasswordSetting_tpl #modifyinfos li #nomal_password{
    display: inline-block;
    color: #999;
    padding-left: .8rem;
    font-size: 14px;
}
#page-payPasswordSetting_tpl #div-custom-special_form{
    display: inline-block;
    color: #999;
    padding-left: .4rem;
    font-size: 14px;
}
#page-payPasswordSetting_tpl .verify{
    margin-left: 0;
    color: #444;
    font-size: 16px;
}
#page-payPasswordSetting_tpl .list-block.div-custom-listBlock{
    margin: 0;
}
