<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>搜索热门活动</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../../css/libs/sm.css">
    <link rel="stylesheet" href="../../css/theme/theme.css">
    <link rel="stylesheet" href="../../css/appPublicStyle.css">
    <link rel="stylesheet" href="css/search.css"/>
</head>
<body>
<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
<div class="page-group">
    <!-- 单个page ,默认被展示-->
    <div id="page-search_tpl" class="page page-current">
        <!-- 标题栏 -->
        <header class="bar bar-nav" data-type="header" id="header-custom-searchheader">
			<a class="button button-link pull-left back" href="#" data-type="a"> <span class="icon icon-left" data-type="icon"></span> </a>
            <a class="button button-link pull-left" href="#" data-type="a" id="a-custom-input"><input type="text" placeholder='' id="native-search" class="activityIn" v-model="search" data-type="input" style="line-height:18px;" ></a>
            <a class="button button-link pull-left" data-type="a" id="a-custom-right" v-on:click="onInput" style="display: inline-block;
                float: right;">搜索</a>
					
	    </header>
        <!-- 这里是页面内容区 -->
     <div class="content"   id="content-custom-searchcont">          
               
			<!--搜索-->
			<div class="list-block noline" data-type="div">
			    <ul data-type="list" id="list-custom-search_ul">
			        <li data-type="itemContent">
			            <a href="#" class="item-content searchHistory" data-type="a">
			                <div class="item-inner" data-type="div">
			                    <div class="item-title" data-type="div" id="div-custom-titles">大家都在搜</div>
                                
			                </div>
			            </a>
			        </li>
			    </ul>
			</div>
     <div>
      
			<div class="list" data-type="div" id="div-custom-searchresult"  >
    			<a href="#" data-type="a"><span class="no" data-type="span" v-for="li in hotActivityList"  v-on:click="onHotActivity(li)" >{{li.name_}}</span></a>
			</div>
    </div>
    </div>
    </div>
    
</div>
</body>
<script src="../../js/libs/zepto.js"></script>
<script src="../../js/libs/sm.js"></script>
<script src="../../js/public/agreeSDK.js"></script>
<script src="../../js/public/appPublicAction.js"></script>
<script src="../../js/public/common.js"></script>
<script src="js/searchEventBinds.js"></script>
</html>
