<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>商户信息</title>
    <link rel="stylesheet" href="../../css/libs/sm.css">
    <link rel="stylesheet" href="../../css/theme/theme.css">
    <link rel="stylesheet" href="../../css/appPublicStyle.css">
    <link rel="stylesheet" href="css/shopInfo.css">
</head>
<body>
<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
<div class="page-group">
    <!-- 单个page ,默认被展示-->
    <div class="page page-current" id="page-shopInfo_tpl">
        <header class="bar bar-nav" data-type="header" id="header_1">
            <a class="button button-link pull-left back" href="#" data-type="a"> <span class="icon icon-left" data-type="icon"></span> </a>
            <h1 class="title h1-custom-title" data-type="h1" id="h1_1">商户信息</h1>
        </header>
        <div class="content content-custom-inner" data-type="content"
             id="shop_info">
            <!-- 这里是页面内容区 -->
          <div class="header" data-type="div" >
              <div class="div-custom-header" data-type="div">
              <!--  <span>更改商户</span> -->
              <!-- <div class="div-custom-header-img" data-type="div">商户</div> -->
            </div>
             <div class="div-custom-headers" data-type="div">
               <div class="div-custom-l" data-type="div"><img src="imgs/yonghu.svg"/></div>
               <div class="div-custom-r" data-type="div">
                   <span class="span-custom-shopinfor_top" data-type="span" v-cloak>{{shopName.name_}}</span>
                   <span class="span-custom-shopinfor_bottom" data-type="span" v-cloak>商户号{{shopName.code_}}</span>
               </div>
            </div>
           
          </div>
         
            <form id="form_1" data-type="form">
                 <div data-type="div" class="div-custom-text">
                输入您在该商户的会员信息进行绑定
           </div>
                <div class="list-block div-custom-listBlock" data-type="div" id="div_7">
                    <ul data-type="list" id="shopinfo">
                          <li>
			                   	<a href="#">手机号</a>
			                    <div class="div-custom-input" data-type="div" id="div_26">
	                                <input type="text" name="" placeholder="请输入银行预留的手机号" class="input input-right" id="input_mobilenumber" v-model="phone"/>
			                     </div>
			              </li>
			               <li>
			                 <div data-type="div" id="div-custom-special" class="div content-block div-custom-content_shortMsg">
			                        <div data-type="div" id="div_28"
			                             class="div-custom-shortMsgTips">
			                        </div>
			                        <div class="row row-custom-2" data-type="row" id="yzm">
			                            <div class="col col-20 col-custom-shortMsg" data-type="col" id="row-custom-special">
			                                验证码
			                            </div>
			                            <div class="col col-40" data-type="col" id="col_5">
			                                <input type="text" placeholder="输入验证码" data-type="input" id="input_verifyCode" class="input input-right input-custom-shotMsg"/>
			                            </div>
			                            <div class="col col-40 col-custom-right" data-type="col" id="col_1">
			                                <span data-type="span" id="span-custom-shopinforSpecial">|</span
			                                <a href="#" data-type="a" id="a_getCode" class="a-custom-veritrycode obtain">获取验证码</a>
			                            </div>
			                        </div>
                              </div>          
			                      
			              </li>
			               <li>
			                   <a href="#">会员账号</a>
			                    <div class="div-custom-input" data-type="div" id="div_26">
	                                <input type="text" name="" placeholder="请输入在商户的会员账号"
	                                       class="input input-right" id="input_cord" v-model="account"/>
			                     </div>             
			                      
			              </li>
			               <li>
			                   <a href="#">会员卡号</a>
			                    <div class="div-custom-input" data-type="div" id="div_26">
	                                <input type="text" name="" placeholder="请输入在商户处预留的会员卡号"
	                                       class="input input-right" id="input_cord" v-model="cardNo"/>
			                     </div>             
			                      
			              </li>
			             
                    </ul>
                 
                    <div class="content-block" data-type="div" id="div_29">
                        <div class="row" data-type="row" id="row_4">
                            <div class="col col-100" data-type="col" id="col_6">
                                 <input id="input-custom-button" type="button" name="next" value="绑定"
                                       class="button button-big "
                                       data-type="input" v-on:click="bindCard">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<!--sui框架js-->
<script src="../../js/libs/zepto.js"></script>
<script src="../../js/libs/sm.js"></script>
<!--agreeSDK插件定义js-->
<script src="../../js/public/agreeSDK.js"></script>
<script src="../../js/public/appPublicAction.js"></script>
<script src="../../js/public/common.js"></script>
<script src="js/shopInfoEventBinds.js"></script>
</html>
